@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(51, 77, 49);
}

.básico {
    color: rgb(50, 150, 43);
}

.intermédiario {
    color: rgb(151, 140, 44);
}

.avançado {
    color: rgb(189, 35, 35);
}

.destaque {
    background-color: rgba(251, 251, 99, 0.47);
}
